/*Utility Class*/
.hide
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

/*Fonts*/
@font-face {
font-family: 'lustriaregular';
src: url('../fonts/lustria-regular-webfont.eot');
src: url('../fonts/lustria-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lustria-regular-webfont.woff') format('woff'),
url('../fonts/lustria-regular-webfont.ttf') format('truetype'),
url('../fonts/lustria-regular-webfont.svg#lustriaregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'latoregular';
src: url('../fonts/lato-regular-webfont.eot');
src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-regular-webfont.woff') format('woff'),
url('../fonts/lato-regular-webfont.ttf') format('truetype'),
url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
font-weight: normal;
font-style: normal;
}

/*General Rules for Elements*/

body
{
	font-family: 'latoregular', Helvetica, Arial, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}

h2, h3
{
	font-family: 'lustriaregular', Times, "Times New Roman", serif;
	color: #215445;
}

.container {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1200px; 
}

/*Header and Navigation*/

#mainHeader {
  margin-bottom: 20px;
  margin-top: 5px;
}
/*Want to push burger menu to the right, set to flex*/
#mainNav {
  display: flex;
  flex-direction: column;

}

#mainNav button {
  background: url(../img/burger.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: 0;
  transition: all 400ms ease;
  margin-left: auto; 
  /*Push it to right*/
}

#mainNav button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#mainNav li a {
  display: block;
  padding: 10px 0 10px 0;
  color: #8ea76d;
  text-align: center;
}

#mainNav li {
  border-bottom: 1px solid #efefef;

}
#mainNav li:first-child {
  border-top: 1px solid #efefef;
}
#mainNav li:last-child; {
  margin-bottom: 10px;
}
#searchForm {
  margin-top: 20px;
}
#mainNav input[type=text] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #cacaca;
  border-radius: 3px 0px 3px 0px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  color: #0a0a0a;
}
#mainNav input [type=submit] {
  height: 40px;
  width: 100px;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-size: 14px;
  background-color: #8fa771;
  color: #fefefe;
  border: 0;
}
#searchCon {
  display: flex;
  flex-direction: row;
}

#burgerCon {
  margin-top: 20px;
  display: none;
}
#burgerCon.slideToggle {
  display: block;
}
#wollastonLogo {
  display: block;
  margin: 0 auto;
  max-width: 120px;
}



























